.hours {
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 200px;
}

.title {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    color: rgb(206, 206, 206);
}

.icon-div {
    width: auto;
    height: auto;
}
   
.icon-img {
   width: 70px;
   height: 70px
}

.temperatures {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 40%;
    font-family: 'Roboto', sans-serif;
}

.hours-temperature {
    flex: 1;
    font-size: 25px;
    color: rgb(155, 155, 155);
    font-family: inherit;
}